.footer-logo, .example-link, .address-link, .nav-link, .logo {
  text-decoration: none;
}

.footer-social-list, .examples-list, .button-list, .menu-social-list, .address-list, .nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.subscribe-input:not(:-moz-placeholder-shown) + .subscribe-label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.checkbox, .subscribe-input:not(:placeholder-shown) + .subscribe-label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.subscribe-button, .main-button {
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover, .main-button:hover {
  background-color: #404bbf;
}

.checkbox-field, .modal-input, .modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  text-align: left;
  letter-spacing: 0.04em;
}

.modal-comment, .modal-input {
  background-color: #fcfcfc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-attribute {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: left;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-align: left;
    letter-spacing: 0.02em;
  }
  .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-align: left;
    letter-spacing: 0.02em;
  }
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
.main-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo .logo-text {
  color: #2e2f42;
}

.menu-open {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 0;
  stroke: #2e2f42;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open:hover, .menu-open:focus, .menu-open:active {
  stroke: #404bbf;
}

.menu-box {
  display: none;
  z-index: 1;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #fff;
}
.menu-box.is-open {
  position: fixed;
  display: flex;
  animation: slide-down 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .menu-box.is-closed {
    animation: slide-up 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(100%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-up {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(100%, -100%);
  }
}

.menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  color: #2e2f42;
  background-color: rgba(231, 233, 252, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
}
.menu-close-icon {
  fill: currentColor;
  width: 8px;
  height: 8px;
}
.menu-close:hover, .menu-close:focus, .menu-close:active {
  background-color: #404bbf;
  color: #fff;
}
.menu-close .menu-cross {
  display: block;
  width: 8px;
  height: 8px;
}

.nav-list {
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.nav-link {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: left;
  letter-spacing: 0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current, .nav-link:hover, .nav-link:focus {
  color: #404bbf;
}

.address-list {
  flex-direction: column-reverse;
  gap: 40px;
  margin-bottom: 48px;
  font-style: normal;
}

.address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
  text-align: center;
  letter-spacing: 0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .address-link:focus, .address-link:active {
  color: #404bbf;
}
.address-link[href^=tel] {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #4d5ae5;
  text-align: center;
  letter-spacing: 0.02em;
}

.menu-social-list {
  gap: 56px;
}
.menu-social-list .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-list .social:hover, .menu-social-list .social:focus, .menu-social-list .social:active {
  background-color: #404bbf;
}
.menu-social-list .social-item {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .nav-container {
    justify-content: initial;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }
  .menu-open {
    display: none;
  }
  .menu-close {
    display: none;
  }
  .menu-box {
    display: flex;
    flex-direction: initial;
    align-items: center;
    position: initial;
    padding: initial;
    height: initial;
  }
  .nav-list {
    flex-direction: initial;
    margin: 0;
    margin-right: auto;
  }
  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-align: center;
  }
  .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 1;
  }
  .address-list {
    flex-direction: column;
    gap: 12px;
    margin: 0;
    margin-left: auto;
  }
  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .address-link[href^=tel] {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .menu-social-list {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .address-link[href^=tel] {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
.examples {
  padding-top: 48px;
  padding-bottom: 48px;
}

.example-button {
  cursor: pointer;
  padding: 12px 24px;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-button:hover, .example-button:focus, .example-button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08);
  background-color: #404bbf;
  border: 1px solid #404bbf;
  color: #fff;
}

.button-list {
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-right: auto;
  margin-bottom: 48px;
}

.examples-list {
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.example-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover, .example-link:focus, .example-link:active {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.example-wrapper {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover .example-overlay, .example-link:focus .example-overlay, .example-link:active .example-overlay {
  transform: translateY(0);
}

.example-text {
  display: block;
  color: #f4f4fd;
}

.example-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.example-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: left;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.example-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: left;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .examples {
    padding-top: 64px;
    padding-bottom: 48px;
  }
  .button-list {
    flex-wrap: initial;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
  }
  .examples-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .example-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .examples {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .button-list {
    margin-bottom: 72px;
  }
  .examples-list {
    gap: 48px 24px;
  }
  .example-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-container {
  width: 268px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-text {
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
}

.footer-navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  gap: 16px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social:hover, .footer-social:focus, .footer-social:active {
  background-color: #31d0aa;
}
.footer-social-item {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.footer-subscribe {
  width: 100%;
}

.form-subscribe {
  position: relative;
}

.subscribe-label {
  position: absolute;
  left: 16px;
  top: 8px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-input {
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
}
.subscribe-button {
  display: flex;
  gap: 16px;
  padding: 8px 24px;
  margin: 0 auto;
}

.icon-send {
  display: block;
  height: 24px;
  width: 24px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-navi {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }
  .footer-container {
    width: 264px;
    text-align: left;
  }
  .footer-caption {
    text-align: left;
  }
  .form-subscribe {
    display: flex;
    gap: 24px;
  }
  .subscribe-input {
    margin-bottom: 0;
    width: 264px;
  }
  .subscribe-button {
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer-navi {
    flex-wrap: initial;
    gap: 0;
    padding-left: 15px;
    align-items: initial;
  }
  .footer-container {
    margin-right: 120px;
  }
  .footer-subscribe {
    width: auto;
  }
  .social-media {
    margin-right: auto;
  }
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
}

.modal {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 392px;
  padding: 72px 16px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  opacity: 1;
  scale: 1;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #2e2f42;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
}
.modal-close-icon {
  fill: currentColor;
  width: 8px;
  height: 8px;
}
.modal-close:hover, .modal-close:focus, .modal-close:active {
  background-color: #404bbf;
  color: #fff;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.is-hidden .modal {
  opacity: 0;
  scale: 0;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}

.modal-box {
  margin-bottom: 8px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
}
.modal-input:hover, .modal-input:focus, .modal-input:active {
  border-color: #4d5ae5;
}

.modal-item {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-item, .modal-input:active + .modal-item, .modal-input:focus + .modal-item {
  fill: #4d5ae5;
}

.modal-comment {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  color: #2e2f42;
}
.modal-comment::-moz-placeholder {
  color: #8e8f99;
}
.modal-comment::placeholder {
  color: #8e8f99;
}
.modal-comment:hover, .modal-comment:active, .modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-agreement {
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-field {
  position: relative;
  display: flex;
  align-items: center;
}
.checkbox-field > a {
  color: #4d5ae5;
}

.checkbox-item {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:hover ~ .checkbox-item, .checkbox:focus ~ .checkbox-item {
  border-color: #4d5ae5;
}

.checkbox-img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:not(:checked) + .checkbox-img {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px;
  }
}/*# sourceMappingURL=portfolio.css.map */