.features-list {
  @extend %reset-list;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: $tablet) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: $desktop) {
  .features-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);

    &::before {
      content: "";
      display: block;
      height: 112px;
      margin-bottom: 8px;
      background: $cloud-light-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 64px 64px;
      border-radius: 4px;
    }

    &:nth-child(1)::before {
      background-image: url(../images/antenna.svg);
    }

    &:nth-child(2)::before {
      background-image: url(../../images/clock.svg);
    }

    &:nth-child(3)::before {
      background-image: url(../../images/diagram.svg);
    }

    &:nth-child(4)::before {
      background-image: url(../../images/astronaut.svg);
    }
  }
}
