.hero-section {
  max-width: 1440px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navyblue-dark-color);
  background-image: linear-gradient(
      var(--grey-hero-color),
      var(--grey-hero-color)
    ),
    url(../../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-caption {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  font-weight: var(--font-weight-caption);
  line-height: 1.07;
  color: var(--main-color);
  letter-spacing: 0.02em;
}
