.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $navyblue-modal-color;
}

.modal {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 392px;
  padding: 72px 16px 24px;
  background-color: $dairy-modal-color;
  border-radius: 4px;
  opacity: 1;
  scale: 1;
  @include animation(scale, opacity);
}

.modal-close {
  @include close-button();
  top: 24px;
  right: 24px;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.is-hidden .modal {
  opacity: 0;
  scale: 0;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  @include typography(
    $fontWeight: $font-weight-title,
    $txtColor: $navyblue-dark-color
  );
}

.modal-box {
  margin-bottom: 8px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @extend %modal-text;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  @extend %modal-text;
  @extend %modal-field;
  width: 360px;
  height: 40px;
  padding-left: 38px;

  &:hover,
  &:focus,
  &:active {
    border-color: $iris-brand-color;
  }
}

.modal-item {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: $navyblue-dark-color;
  transform: translateY(-50%);
  @include animation(fill);

  .modal-input:hover + &,
  .modal-input:active + &,
  .modal-input:focus + & {
    fill: $iris-brand-color;
  }
}

.modal-comment {
  @extend %modal-field;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  color: $navyblue-dark-color;

  &::placeholder {
    color: $lightslate-subtle-color;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $iris-brand-color;
  }
}

.modal-agreement {
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-field {
  position: relative;
  display: flex;
  align-items: center;
  @extend %modal-text;

  & > a {
    color: $iris-brand-color;
  }
}

.checkbox {
  @extend %visually-hidden;
}

.checkbox-item {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid $navyblue-modal-color;
  border-radius: 2px;
  @include animation(border-color);

  .checkbox:hover ~ &,
  .checkbox:focus ~ & {
    border-color: $iris-brand-color;
  }
}

.checkbox-img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 1;
  @include animation(opasity);

  .checkbox:not(:checked) + & {
    opacity: 0;
  }
}

@media screen and (min-width: $tablet) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px;
  }
}
