.team {
  background-color: $cloud-light-color;
}

.team-list {
  @extend %reset-list;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-title {
  @include typography(
    $fontWeight: $font-weight-title,
    $fontSize: $font-size-title,
    $lineHeight: 1.2,
    $txtColor: $navyblue-dark-color
  );
  margin-bottom: 8px;
}

.team-text {
  @include typography();
  margin-bottom: 8px;
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  padding: 32px 16px;
  background-color: $main-color;
  border-radius: 0px 0px 4px 4px;
}

.team-social-list {
  @extend %reset-list;
  gap: 24px;

  & .social {
    @include social();
  }
}

@media screen and (min-width: $tablet) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    max-width: 552px;
    margin: 0 auto;
  }
  .team-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: $desktop) {
  .team-list {
    max-width: 1128px;
  }
  .team-card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
