body {
  font-family: "Roboto", sans-serif;

  @include typography();
  background-color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-attribute {
  display: block;
  max-width: 100%;
  height: auto;
}
