:root {
  --iris-brand-color: #4d5ae5;
  --ocean-pressed-color: #404bbf;
  --navyblue-dark-color: #2e2f42;
  --green-success-color: #31d0aa;
  --slate-text-color: #434455;
  --lightslate-subtle-color: #8e8f99;
  --cornflower-accent-color: #e7e9fc;
  --cloud-light-color: #f4f4fd;
  --navyblue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-hero-color: rgba(46, 47, 66, 0.7);
  --main-color: #fff;
  --dairy-modal-color: #fcfcfc;
  --font-weight-caption: 700;
  --font-size-caption: 36px;
  --font-weight-title: 500;
  --font-size-title: 20px;
  --animation-delay: 250ms;
  --animation-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- Common styles --- */

body {
  background-color: var(--main-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--slate-text-color);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.link {
  text-decoration: none;
}

.list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-caption {
  margin-bottom: 72px;
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-caption);
  line-height: 1.11;
  color: var(--navyblue-dark-color);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.section-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: 1.2;
  color: var(--navyblue-dark-color);
  letter-spacing: 0.02em;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-text-color);
  letter-spacing: 0.02em;
}

.button {
  background-color: var(--iris-brand-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: var(--font-weight-title);
  line-height: 1.5;
  color: var(--main-color);
  letter-spacing: 0.04em;
  transition: background-color var(--animation-delay) var(--animation-func);
}

.button:hover {
  background-color: var(--ocean-pressed-color);
}

.main-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.img-attribute {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ---------- Header ---------- */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--cornflower-accent-color);
}

.container.header-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  color: var(--iris-brand-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-element {
  color: var(--navyblue-dark-color);
}

.nav-list {
  gap: 40px;
  margin-left: 76px;
}

.nav-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: var(--font-weight-title);
  line-height: 1.5;
  color: var(--navyblue-dark-color);
  letter-spacing: 0.02em;
  transition: color var(--animation-delay) var(--animation-func);
}

/* IMHO from the User Experience point of view it makes no sense 
to underline an element on hover if the underline indicates the current page */

/* .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean-pressed-color);
  border-radius: 2px;
  opacity: 0;
  transition: background-color var(--animation-delay) var(--animation-func),
    opacity var(--animation-delay) var(--animation-func);
}

.nav-link:hover::after {
  opacity: 1;
} */

.nav-link.current,
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-pressed-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean-pressed-color);
  border-radius: 2px;
  opacity: 1;
}

.adress {
  margin-left: auto;
  font-style: normal;
}

.address-list {
  gap: 40px;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--slate-text-color);
  transition: color var(--animation-delay) var(--animation-func);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-pressed-color);
}

/* --- Hero section ---  */
.hero-section {
  max-width: 1440px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navyblue-dark-color);
  background-image: linear-gradient(
      var(--grey-hero-color),
      var(--grey-hero-color)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-caption {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  font-weight: var(--font-weight-caption);
  line-height: 1.07;
  color: var(--main-color);
  letter-spacing: 0.02em;
}

/* --- Our features section --- */

.features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-item::before {
  content: "";
  display: block;
  height: 112px;
  margin-bottom: 8px;
  background: var(--cloud-light-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px 64px;
  border-radius: 4px;
}

.features-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.features-item .section-title {
  margin-bottom: 8px;
}

/* --- What are we doing section --- */

.work {
  padding-top: 0;
}

/* --- Our Team Section--- */

.team .section-title,
.team .section-text {
  margin-bottom: 8px;
  text-align: center;
}

.team {
  background-color: var(--cloud-light-color);
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  padding: 32px 16px;
  background-color: var(--main-color);
  border-radius: 0px 0px 4px 4px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-brand-color);
  border-radius: 50%;
  color: var(--cloud-light-color);
  transition: background-color var(--animation-delay) var(--animation-func);
}

.social-item {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.social:hover,
.social:focus,
.social:active {
  background-color: var(--ocean-pressed-color);
}

/* --- Customers --- */

.customers-item {
  display: inherit;
  flex-basis: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.company-card {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  color: var(--lightslate-subtle-color);
  transition: color var(--animation-delay) var(--animation-func);
}

.company-item {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

.company-card:hover,
.company-card:focus,
.company-card:active {
  color: var(--ocean-pressed-color);
}

/* --- Footer --- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue-dark-color);
}

.footer-container {
  width: 264px;
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  color: var(--iris-brand-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-element {
  color: var(--cloud-light-color);
}

.footer-text {
  color: var(--cornflower-accent-color);
}

.footer-navi {
  display: flex;
  justify-content: space-between;
}

.footer-caption {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: var(--font-weight-title);
  line-height: 1.5;
  color: var(--main-color);
  letter-spacing: 0.02em;
}

.footer-navi .social-list {
  gap: 16px;
}

.footer-navi .social {
  background-color: var(--iris-brand-color);
}

.footer-navi .social-item {
  width: 24px;
  height: 24px;
}

.footer-navi .social:hover,
.footer-navi .social:focus,
.footer-navi .social:active {
  background-color: var(--green-success-color);
}

.social-media {
  margin-right: auto;
}

.footer-subscribe {
  position: relative;
  display: flex;
  gap: 24px;
}

.subscribe-label {
  position: absolute;
  left: 16px;
  top: 8px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-color);
}

.subscribe-input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-input:not(:placeholder-shown) + .subscribe-label {
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.subscribe-button {
  display: inherit;
  gap: 16px;
  padding: 8px 24px;
}

.icon-send {
  display: block;
  height: 24px;
  width: 24px;
  fill: var(--main-color);
}

/* --- Portfolio page --- */

.examples {
  padding-top: 96px;
}

.examples .button {
  padding: 12px 24px;
  background-color: var(--cloud-light-color);
  border: 1px solid var(--cornflower-accent-color);
  color: var(--iris-brand-color);
  transition: background-color var(--animation-delay) var(--animation-func),
    color var(--animation-delay) var(--animation-func),
    border var(--animation-delay) var(--animation-func),
    box-shadow var(--animation-delay) var(--animation-func);
}

.examples .button:hover,
.examples .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08);
  background-color: var(--ocean-pressed-color);
  border: 1px solid var(--ocean-pressed-color);
  border-radius: 4px;
  color: var(--main-color);
}

.button-list {
  justify-content: center;
  margin: 0 auto 72px;
}

.examples-list {
  flex-wrap: wrap;
  gap: 48px 24px;
}

.examples-list .section-title {
  margin-bottom: 8px;
}

.example-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.example-link {
  display: block;
  transition: box-shadow var(--animation-delay) var(--animation-func);
}

.example-wrapper {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transition: transform var(--animation-delay) var(--animation-func);
  background-color: var(--iris-brand-color);
}

.example-text {
  display: block;

  color: var(--cloud-light-color);
}

.example-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-accent-color);
  border-top: none;
}

.example-link:hover,
.example-link:focus,
.example-link:active {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.example-link:hover .example-overlay,
.example-link:focus .example-overlay,
.example-link:active .example-overlay {
  transform: translateY(0);
}

/* --- Modal window ---  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navyblue-modal-color);
}

.modal {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding: 72px 24px 24px;
  background-color: var(--dairy-modal-color);
  border-radius: 4px;
  opacity: 1;
  scale: 1;
  transition: scale var(--animation-delay) var(--animation-func),
    opacity var(--animation-delay) var(--animation-func);
}

.close-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower-accent-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--navyblue-dark-color);
  transition: background-color var(--animation-delay) var(--animation-func),
    color var(--animation-delay) var(--animation-func);
}

.modal-button {
  fill: currentColor;
  width: 8px;
  height: 8px;
}

.close-button:hover {
  background-color: var(--ocean-pressed-color);
  color: var(--main-color);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.is-hidden .modal {
  opacity: 0;
  scale: 0;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue-dark-color);
}

.modal-box {
  margin-bottom: 8px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-wrap {
  position: relative;
}

.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate-subtle-color);
}

.modal-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  color: var(--navyblue-dark-color);
  background-color: var(--dairy-modal-color);
  border: 1px solid var(--navyblue-modal-color);
  border-radius: 4px;
  transition: border-color var(--animation-delay) var(--animation-func);
}

.modal-item {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--navyblue-dark-color);
  transform: translateY(-50%);
  transition: fill var(--animation-delay) var(--animation-func);
}

.modal-comment {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  color: var(--navyblue-dark-color);
  background-color: var(--dairy-modal-color);
  border: 1px solid var(--navyblue-modal-color);
  border-radius: 4px;
  transition: border-color var(--animation-delay) var(--animation-func);
}

.modal-comment::placeholder {
  color: var(--lightslate-subtle-color);
}

.modal-agreement {
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-field {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.checkbox-item {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navyblue-modal-color);
  border-radius: 2px;
  transition: border-color var(--animation-delay) var(--animation-func);
}

.checkbox-field > a {
  color: var(--iris-brand-color);
}

.checkbox-img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: opasity var(--animation-delay) var(--animation-func);
}

.modal-input:hover,
.modal-input:focus,
.modal-input:active {
  border-color: var(--iris-brand-color);
}

.modal-comment:hover,
.modal-comment:focus,
.modal-comment:active {
  border-color: var(--iris-brand-color);
}

.modal-input:hover + .modal-item,
.modal-input:focus + .modal-item,
.modal-input:active + .modal-item {
  fill: var(--iris-brand-color);
}

.checkbox:hover ~ .checkbox-item,
.checkbox:focus ~ .checkbox-item {
  border-color: var(--iris-brand-color);
}

.checkbox:not(:checked) + .checkbox-img {
  opacity: 0;
}
