@mixin logo(
  $fontWeight: 800,
  $fontSize: 18px,
  $lineHeight: 1.17,
  $txtColor: $iris-brand-color,
  $txtAlign: center,
  $letspace: 0.03em,
  $logoColor: $navyblue-dark-color
) {
  font-family: "Raleway", sans-serif;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $txtColor;
  text-align: $txtAlign;
  text-transform: uppercase;
  letter-spacing: $letspace;

  & .logo-text {
    color: $logoColor;
  }
}

@mixin typography(
  $fontWeight: 400,
  $fontSize: 16px,
  $lineHeight: 1.5,
  $txtColor: $slate-text-color,
  $txtAlign: center,
  $letspace: 0.02em
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $txtColor;
  text-align: $txtAlign;
  letter-spacing: $letspace;
}

@mixin animation($properties...) {
  $transition-properties: ();
  @each $property in $properties {
    $transition-properties: append(
      $transition-properties,
      $property $animation-delay $animation-func,
      comma
    );
  }
  transition: $transition-properties;
}

@mixin social($size: 16px, $activeColor: $ocean-pressed-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $iris-brand-color;
  border-radius: 50%;
  color: $cloud-light-color;
  @include animation(background-color);

  &:hover,
  &:focus,
  &:active {
    background-color: $activeColor;
  }

  &-item {
    fill: currentColor;
    width: $size;
    height: $size;
  }
}

@mixin close-button(
  $color: $navyblue-dark-color,
  $bgColor: $cornflower-accent-color,
  $bColor: rgba(0, 0, 0, 0.1)
) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid $bColor;
  border-radius: 50%;
  color: $color;
  background-color: $bgColor;
  @include animation(background-color, color);

  &-icon {
    fill: currentColor;
    width: 8px;
    height: 8px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $ocean-pressed-color;
    color: $main-color;
  }
}
