$iris-brand-color: #4d5ae5;
$ocean-pressed-color: #404bbf;
$navyblue-dark-color: #2e2f42;
$green-success-color: #31d0aa;
$slate-text-color: #434455;
$lightslate-subtle-color: #8e8f99;
$cornflower-accent-color: #e7e9fc;
$cloud-light-color: #f4f4fd;
$navyblue-modal-color: rgba(46, 47, 66, 0.4);
$grey-hero-color: rgba(46, 47, 66, 0.7);
$main-color: #fff;
$dairy-modal-color: #fcfcfc;
$font-weight-caption: 700;
$font-size-caption: 36px;
$font-weight-title: 500;
$font-size-title: 20px;
$animation-delay: 250ms;
$animation-func: cubic-bezier(0.4, 0, 0.2, 1);